* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0a0a0a; /* Fundo bem escuro */
    background: linear-gradient(109deg, #090909 32.55%, #002c18 79.54%, #003019 88.95%);
    color: white;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header Superior */
header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #222;
    border-bottom: 1px solid #333;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar a {
    color: #ccc;
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: #7ef9ff;
}

.header-right input {
    background: #111;
    border: 1px solid #333;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

/* Sidebar */
.side-bar {
    grid-row: 2 / 3;
    background-color: #222;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid #222;
}

.logo {
    width: auto;
}

.perfil {
    text-align: center;
}

.perfil p {
    font-size: 24px;
}

.perfil img {
    width: 80px;
    background: #c8e6c9;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secoes {
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    gap: 10%;
    cursor: pointer;
}

.secoes:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* Destaque para a página atual (Funcionários) */
.secoes:nth-child(6) {
    background-color: #2e4a3e; /* Verde escuro */
}

.secoes a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Main Content Area */
main {
    padding: 40px;
    overflow-y: auto;
}

/* O "Quadro" centralizado com borda brilhante */
main {
    border: 1px solid #2e4a3e;
    width: 70%;
    border-radius: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 25px rgba(3, 255, 15, 0.5);
    margin: 10%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    
}

.titulo p {
    color: #888;
    margin-bottom: 25px;
}

.atalhos-main {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 30px;
}

.atalhos-main input {
    background: transparent;
    border: 1px solid #444;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    width: 250px;
}

.atalhos-main button {
    background-color: #5e5e5e;
    color: whitesmoke;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.atalhos-main button:hover {
    background-color: #333;
}

.containt {
    display: flex;
    
}

.left, .right {
    background-color: #222;
    padding: 16px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proventos, .descontos {
    background-color: #3d3d3d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-provento {
    display: flex;
    flex-direction: column;
}