* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-bar {
    grid-row: 2 / 3;
    background-color: #222;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid #222;
}

.logo {
    width: auto;
}

.perfil {
    text-align: center;
}

.perfil p {
    font-size: 24px;
}

.perfil img {
    width: 80px;
    background: #c8e6c9;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-side-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secoes {
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    gap: 10%;
    cursor: pointer;
}

.secoes:hover {
    background: rgba(255, 255, 255, 0.05);
}

.secoes:nth-child(5) {
    background-color: #2e4a3e; /* Verde escuro */
}

.secoes a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Main Content Area */
main {
    padding: 40px;
    overflow-y: auto;
}

/* O "Quadro" centralizado com borda brilhante */
main {
    border: 1px solid #2e4a3e;
    width: 70%;
    border-radius: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 25px rgba(3, 255, 15, 0.5);
    margin: 10%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    
}

.titulo p {
    color: #888;
    margin-bottom: 25px;
}